{#
/**
 * @file asset_entity.html.twig
 * Default theme implementation to present Asset entity data.
 *
 * This template is used when viewing Asset entity pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_asset_entity()
 *
 * @ingroup themeable
 */
#}
<div class="asset_entity">
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
